@import url("https://fonts.googleapis.com/css?family=Lato|Poppins");

:root {
  --mainBlack: #222;
  --mainWhite: #fff;
  --mainSpacing: 4px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainBlack);
  background: var(--mainWhite);
  line-height: 1.4;
  font-size: 1rem;
}

.background {
  height: 100vh;
  background-image: radial-gradient(circle 50px at 20% 50%, red, blue, green, purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

.card {
  background: white;
  padding: 1rem;
}
